<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.biddingbox02" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>BiddingBox02</name>
    <description>
        A blank PhoneGap app.
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-exit" spec="^1.0.2" />
    <platform name="android">
        <icon density="mdpi" src="www/res/mipmap-mdpi/ic_launcher.png" />
        <icon density="hdpi" src="www/res/mipmap-hdpi/ic_launcher.png" />
        <icon density="xhdpi" src="www/res/mipmap-xhdpi/ic_launcher.png" />
        <icon density="xxhdpi" src="www/res/mipmap-xxhdpi/ic_launcher.png" />
        <icon density="xxxhdpi" src="www/res/mipmap-xxxhdpi/ic_launcher.png" />
    </platform>
    <plugin name="cordova-plugin-networking-bluetooth" spec="^1.0.3" />
    <plugin name="cordova-plugin-screen-orientation" spec="^3.0.1" />
    <engine name="android" spec="~7.0.0" />
    <engine name="ios" spec="^4.5.5" />
    <engine name="browser" spec="^5.0.4" />
</widget>
